{% extends 'layout.html'%}
{% block content %}
       <div class="col-sm-10 ml-auto mr-auto ">
        <H2>Players Data</H2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Form</th>
                    <th scope="col">Total_points</th>
                    <th scope="col">Now_costs</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{entry.name}}</td>
                            <td>{{entry.surname}}</td>
                            <td>{{ entry.form}}</td>
                            <td>{{ entry.total_points}}</td>
                            <td>{{ entry.now_costs}}</td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}